__pycache__/
*.py[cod]
# receiver
*.dll
*.exe
*.obj
*.lib
*.exp
output/
#

venv/
.env

# Data and Logs
data/input/*
data/output/*
data/qr_code/*
data/*

!data/**/.gitkeep

# IDEs
.vscode/
.idea/
.DS_Store